@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h2 class="text-danger">Access Denied</h2>
    <p class="text-danger">You don´t have enough privilegies to acces this, only admin account!.</p>
</header>
